@font-face{
    font-family:Nickainley;
    src:url('../fonts/NickainleyFF/TTF/Nickainley.ttf')
}

$primaryBtn:red;


header {
    background-color:$primaryBtn;
    border-bottom:solid black;
    height:80vh;
    width:100vw;
    
}


nav{
    box-shadow:aliceblue;
    width:100vw;
    padding:4px;
}

#site-title{
    font-family:Nickainley;
    font-size:10vh;
    margin:0;
}

#left-pic{
    margin-left:-18vw;
}
#header-left{
    display:inline-block;
    background-color:white;
    width:50%;
    height:100%;
    position: absolute;
    z-index:1
}
#center-pic{
 //position:absolute;
//  top:100px;
//  left:10px;
    margin-left:-250px;
    margin-top:10px;
    float:left;
    padding:10px;
    clip-path:circle();
    shape-outside: circle();
    //background-color: yellow;
}

#header-right{
    display:inline-block;
    background-color:#f9fbfb;
    width:49%;
    height:76%;
    position: absolute;
    left:50.5vw;
    z-index:2;
    //Console stuff now
    padding:3%;
}

