<div style="width:100vw">
    <!-- The colorful art---->
    <div id="header-left" > 
        <img src="./images/2.png" alt="Leftpic" id="left-pic" >
    </div>

    <!-- <div id="center-pic"> </div>  -->

    <!-- The Visual Studio Code menu-->
    <div id="header-right" >
        <h2>
            <!-- The JS console:-->
            <img src="./images/lightmode-pic.png" alt="my-pic" id="center-pic" >
            <div id="console">
                
            </div>

        </h2>
    </div>

</div>