#about-me{
    width:100vw;
    height:100vh;
}
.outer-circle{
        border-radius:50%;
        width:20vw;
        height:20vw;
        background-image: linear-gradient(to right,#fe19aa,#ffbd59);
        clip-path: circle();
        shape-outside: circle();
}

.inner-circle{
    background-color:white;
    border-radius:50%;
    position:relative;
    bottom:19%;
    left:8%;
    width:17vw;
    height:17vw;
}

.circle-content{
    // border:solid black;
    text-align:center;
    position: relative;
    top:40%;
    h1{
        font-family:Nickainley;
        font-size: 4vw;
    }
}


#about-me-left{
    position:absolute;
    width:50%;
    height:80vh;
}

#about-me-right{
    position:absolute;
    width:50%;
    height:80vh;
    left:50vw;
}

#about-me-left-top{
    // background-color:orange;
    // border:solid black;
    height:60%;
    padding:1vw;
}

#about-me-left-bottom{
    // border:solid black;
    // background-color:lightblue;
    padding:1vw;
}


#about-me-right-top{
    position:relative;
    top:30%;
    padding:1vw;
}